body{
	display: flex;
}

#path {
	background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
	width: 100%;
	padding: 30px;
	font-size: 28px;
	font-weight: 500;
}

.error{
	background-color: #960f0f;
    color: white;
	padding: 100px;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	margin: auto;
	border-radius: 30px;
	grid-column-start: 2;
    grid-column-end: 5;
}

.connecting{
	background-color: white;
	color: black;
	padding: 100px;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	margin: auto;
	border-radius: 30px;
	grid-column-start: 2;
    grid-column-end: 5;
}