body{
	display: flex;
}

#path {
	background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
	width: 100%;
	align-items: center;
	font-size: 32px;
	font-weight: 500;
	height: 35px;
	padding: 20px;
}
