.controls {
    padding-top: 250px;
    padding-bottom: 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.duration {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
  
.progress {
    flex-grow: 1;
    height: 10px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 2px;
    background-color: #5e5e5e;
    position: relative;
}
  
.bar {
    left: 0;
    width: 0%;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
}

.rewind-mark {
    top: -15px;
    left: 0%;
    width: 4px;
    height: 25px;
    background-color: #4ab3ff;
    position: absolute;
    display: none;
}
  
.time {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    min-width: 100px;
    font-weight: 400;
    text-align: center;
}
  
.icon_container {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pause {
    width: 50px;
    height: 50px;
}
  
img {
    max-width: 100%;
    max-height: 100%;
}

.preview-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -60px;
}
